@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

$font-color-white: #FFFFFF;
$font-color-dark: #21092F;
$font-color-error: #FF5050;
$font-color-paragraph: #8F8694;
$border-light-grey: #DFDEE0;

@mixin flexBox($flex-width, $flex-height, $flex-direction, $flex-justify-content: flex-start, $flex-align-items: stretch, $flex-gap: normal) {
    max-width: $flex-width;
    width: 100%;
    height: $flex-height;
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $flex-justify-content;
    align-items: $flex-align-items;
    gap: $flex-gap;
}

@mixin typography($font-size, $font-style, $font-weight, $line-height, $letter-spacing, $text-transform, $font-color) {
    font-size: $font-size;
    font-style: $font-style;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
    color: $font-color;
}

@mixin dimensionBox($box-width) {
    max-width: $box-width;
    width: 100%;
    height: 100%;
}

body {
    // @include flexBox(1440px, 900, row, center, center, normal);
    display: grid;
    max-width: 1440px;
    width: 100%;
    grid-template-columns: minmax(min-content, 483px) minmax(min-content, 957px);
    grid-template-rows: 900px;
    grid-template-areas: "cards form";
    place-items: center;
    margin: 0 auto;

    @media (max-width:1050px) {
        max-width: 768px;
        width: 100%;
        grid-template-columns: minmax(min-content, 768px);
        grid-template-rows: 500px;
        grid-template-areas:
            "cards"
            "form";
    }

    @media (max-width:700px) {
        max-width: 375px;
        width: 100%;
        grid-template-columns: minmax(min-content, 375px);
        grid-template-rows: 240px minmax(min-content, 464px);
    }
}



.cards {
    grid-area: cards;
    @include dimensionBox(483px);
    background: no-repeat center/cover url(./images/bg-main-desktop.png);
    position: relative;

    @media (max-width:1050px) {
        background: no-repeat center/cover url(./images/bg-main-mobile.png);
        @include dimensionBox(768px);
    }

    @media (max-width:700px) {
        @include dimensionBox(375px);
    }

    &__front {
        @include flexBox(447px, 245px, column, flex-start, flex-start, normal);
        position: absolute;
        top: 187px;
        left: 35%;
        background: url(./images/bg-card-front.png) no-repeat center/contain;
        padding: 28px 32px;
        width: 447px;

        @media (max-width:1050px) {
            @include flexBox(366px, 200px, column, flex-start, flex-start, normal);
            top: 220px;
            left: 7%;
            width: 366px;
            padding: 18px 26px;
            z-index: 1;
        }

        @media (max-width:700px) {
            @include flexBox(285px, 157px, column, flex-start, flex-start, normal);
            top: 127px;
            left: 17px;
            padding: 18px 20px;
        }
    }

    &__logo {
        background: url(./images/card-logo.svg) no-repeat center/contain;
        width: 84px;
        height: 47px;

        @media (max-width:1050px) {
            width: 69px;
            height: 39px;
        }

        @media (max-width:700px) {
            width: 54px;
            height: 30px;
        }
    }

    &__number {
        @include typography(28px, normal, 500, normal, 3.422px, none, $font-color-white);
        margin-top: 64px;

        @media (max-width:1050px) {
            font-size: 22px;
            margin-top: 51px;
        }

        @media (max-width:700px) {
            font-size: 18px;
            margin-top: 37px;
            letter-spacing: 2.2px;
        }
    }

    &__name-date {
        @include flexBox(383px, 18px, row, space-between, center, normal);
        @include typography(14px, normal, 500, normal, 2px, uppercase, $font-color-white);
        margin-top: 25px;

        @media (max-width:1050px) {
            font-size: 12px;
            margin-top: 21px;
        }

        @media (max-width:700px) {
            font-size: 9px;
            margin-top: 17px;
            letter-spacing: 1.286px;
        }

    }

    &__back {
        @include flexBox(447px, 247px, row, flex-start, flex-start, normal);
        @include typography(14px, normal, 500, normal, 2px, uppercase, $font-color-white);
        position: absolute;
        top: 470px;
        left: 53%;
        background: url(./images/bg-card-back.png) no-repeat center/contain;
        padding-top: 111px;
        padding-left: 358px;
        width: 447px;

        @media (max-width:1050px) {
            @include flexBox(366px, 200px, row, flex-start, flex-start, normal);
            top: 64px;
            left: 45%;
            font-size: 12px;
            padding-top: 91px;
            padding-left: 290px;
        }

        @media (max-width:700px) {
            @include flexBox(286px, 157px, row, flex-start, flex-start, normal);
            top: 32px;
            left: 73px;
            font-size: 9px;
            padding-top: 72px;
            padding-left: 231px;

        }
    }
}

.form {
    grid-area: form;
    @include dimensionBox(957px);
    padding-top: 275px;
    padding-left: 350px;

    @media (max-width:1050px) {
        @include dimensionBox(768px);
        padding: 70px;
        display: grid;
        place-items: center;
    }

    @media (max-width:700px) {
        @include dimensionBox(375px);
        padding: 45px 24px;
        display: grid;
        place-items: center;
    }

    &__box {
        @include flexBox(381px, auto, column, center, flex-start, 26px);

        @media (max-width:700px) {
            gap: 20px;
            padding-top: 30px;
        }
    }

    &__box-name,
    &__box-number {
        @include flexBox(381px, auto, column, center, flex-start, 9px);
    }

    &__box-date-cvc {
        @include flexBox(381px, auto, row, flex-start, flex-start, 20px);
    }

    &__date {
        @include flexBox(170px, auto, column, center, flex-start, 9px);
    }

    &__cvc {
        @include flexBox(191px, auto, column, center, flex-start, 9px)
    }

    &__month-year {
        @include flexBox(170px, auto, row, center, center, 10px)
    }

    &__label {
        @include typography(12px, normal, 500, normal, 2px, uppercase, $font-color-dark);
    }

    &__input {
        max-width: 381px;
        width: 100%;
        height: 45px;
        padding: 11px 0 11px 16px;
        border-radius: 8px;
        border: 1px solid $border-light-grey;
        outline: none;
        @include typography(18px, normal, 500, normal, normal, none, $font-color-dark);


        &--date {
            max-width: 80px;
        }

        &--cvc {
            max-width: 191px;
        }

        &--error {
            border: 1px solid $font-color-error;
        }
    }

    &__input::placeholder {
        opacity: 0.25;
    }

    &__submit {
        @include typography(18px, normal, 500, normal, normal, none, $font-color-white);
        max-width: 381px;
        width: 100%;
        height: 53px;
        border-radius: 8px;
        background-color: $font-color-dark;
        border: none;
        cursor: pointer;
    }

    &__error {
        @include typography(12px, normal, 500, normal, normal, none, $font-color-error);
        display: none;
    }
}

.added {
    @include flexBox(381px, auto, column, center, center, unset);

    &__img {
        width: 80px;
        height: 80px;
    }

    &__title {
        @include typography(28px, normal, 500, normal, 3.422px, none, $font-color-dark);
        margin-top: 35px;
    }

    &__paragraph {
        @include typography(18px, normal, 500, normal, normal, none, $font-color-paragraph);
        margin-top: 16px;
    }

    &__btn {
        @include typography(18px, normal, 500, normal, normal, none, $font-color-white);
        max-width: 381px;
        width: 100%;
        height: 53px;
        border-radius: 8px;
        background-color: $font-color-dark;
        margin-top: 48px;
        cursor: pointer;
    }
}

.hide {
    display: none;
}