@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body {
  display: grid;
  max-width: 1440px;
  width: 100%;
  grid-template-columns: minmax(min-content, 483px) minmax(min-content, 957px);
  grid-template-rows: 900px;
  grid-template-areas: "cards form";
  place-items: center;
  margin: 0 auto;
}
@media (max-width: 1050px) {
  body {
    max-width: 768px;
    width: 100%;
    grid-template-columns: minmax(min-content, 768px);
    grid-template-rows: 500px;
    grid-template-areas: "cards" "form";
  }
}
@media (max-width: 700px) {
  body {
    max-width: 375px;
    width: 100%;
    grid-template-columns: minmax(min-content, 375px);
    grid-template-rows: 240px minmax(min-content, 464px);
  }
}

.cards {
  grid-area: cards;
  max-width: 483px;
  width: 100%;
  height: 100%;
  background: no-repeat center/cover url(./images/bg-main-desktop.png);
  position: relative;
}
@media (max-width: 1050px) {
  .cards {
    background: no-repeat center/cover url(./images/bg-main-mobile.png);
    max-width: 768px;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 700px) {
  .cards {
    max-width: 375px;
    width: 100%;
    height: 100%;
  }
}
.cards__front {
  max-width: 447px;
  width: 100%;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: normal;
  position: absolute;
  top: 187px;
  left: 35%;
  background: url(./images/bg-card-front.png) no-repeat center/contain;
  padding: 28px 32px;
  width: 447px;
}
@media (max-width: 1050px) {
  .cards__front {
    max-width: 366px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: normal;
    top: 220px;
    left: 7%;
    width: 366px;
    padding: 18px 26px;
    z-index: 1;
  }
}
@media (max-width: 700px) {
  .cards__front {
    max-width: 285px;
    width: 100%;
    height: 157px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: normal;
    top: 127px;
    left: 17px;
    padding: 18px 20px;
  }
}
.cards__logo {
  background: url(./images/card-logo.svg) no-repeat center/contain;
  width: 84px;
  height: 47px;
}
@media (max-width: 1050px) {
  .cards__logo {
    width: 69px;
    height: 39px;
  }
}
@media (max-width: 700px) {
  .cards__logo {
    width: 54px;
    height: 30px;
  }
}
.cards__number {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.422px;
  text-transform: none;
  color: #FFFFFF;
  margin-top: 64px;
}
@media (max-width: 1050px) {
  .cards__number {
    font-size: 22px;
    margin-top: 51px;
  }
}
@media (max-width: 700px) {
  .cards__number {
    font-size: 18px;
    margin-top: 37px;
    letter-spacing: 2.2px;
  }
}
.cards__name-date {
  max-width: 383px;
  width: 100%;
  height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: normal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 25px;
}
@media (max-width: 1050px) {
  .cards__name-date {
    font-size: 12px;
    margin-top: 21px;
  }
}
@media (max-width: 700px) {
  .cards__name-date {
    font-size: 9px;
    margin-top: 17px;
    letter-spacing: 1.286px;
  }
}
.cards__back {
  max-width: 447px;
  width: 100%;
  height: 247px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: normal;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: absolute;
  top: 470px;
  left: 53%;
  background: url(./images/bg-card-back.png) no-repeat center/contain;
  padding-top: 111px;
  padding-left: 358px;
  width: 447px;
}
@media (max-width: 1050px) {
  .cards__back {
    max-width: 366px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: normal;
    top: 64px;
    left: 45%;
    font-size: 12px;
    padding-top: 91px;
    padding-left: 290px;
  }
}
@media (max-width: 700px) {
  .cards__back {
    max-width: 286px;
    width: 100%;
    height: 157px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: normal;
    top: 32px;
    left: 73px;
    font-size: 9px;
    padding-top: 72px;
    padding-left: 231px;
  }
}

.form {
  grid-area: form;
  max-width: 957px;
  width: 100%;
  height: 100%;
  padding-top: 275px;
  padding-left: 350px;
}
@media (max-width: 1050px) {
  .form {
    max-width: 768px;
    width: 100%;
    height: 100%;
    padding: 70px;
    display: grid;
    place-items: center;
  }
}
@media (max-width: 700px) {
  .form {
    max-width: 375px;
    width: 100%;
    height: 100%;
    padding: 45px 24px;
    display: grid;
    place-items: center;
  }
}
.form__box {
  max-width: 381px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 26px;
}
@media (max-width: 700px) {
  .form__box {
    gap: 20px;
    padding-top: 30px;
  }
}
.form__box-name, .form__box-number {
  max-width: 381px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
}
.form__box-date-cvc {
  max-width: 381px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.form__date {
  max-width: 170px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
}
.form__cvc {
  max-width: 191px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
}
.form__month-year {
  max-width: 170px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form__label {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #21092F;
}
.form__input {
  max-width: 381px;
  width: 100%;
  height: 45px;
  padding: 11px 0 11px 16px;
  border-radius: 8px;
  border: 1px solid #DFDEE0;
  outline: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  color: #21092F;
}
.form__input--date {
  max-width: 80px;
}
.form__input--cvc {
  max-width: 191px;
}
.form__input--error {
  border: 1px solid #FF5050;
}
.form__input::-moz-placeholder {
  opacity: 0.25;
}
.form__input::placeholder {
  opacity: 0.25;
}
.form__submit {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  color: #FFFFFF;
  max-width: 381px;
  width: 100%;
  height: 53px;
  border-radius: 8px;
  background-color: #21092F;
  border: none;
  cursor: pointer;
}
.form__error {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  color: #FF5050;
  display: none;
}

.added {
  max-width: 381px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: unset;
}
.added__img {
  width: 80px;
  height: 80px;
}
.added__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 3.422px;
  text-transform: none;
  color: #21092F;
  margin-top: 35px;
}
.added__paragraph {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  color: #8F8694;
  margin-top: 16px;
}
.added__btn {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
  color: #FFFFFF;
  max-width: 381px;
  width: 100%;
  height: 53px;
  border-radius: 8px;
  background-color: #21092F;
  margin-top: 48px;
  cursor: pointer;
}

.hide {
  display: none;
}/*# sourceMappingURL=style.css.map */